.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /*Espacio entre items*/
    place-items: center;
}

.item {
    background-color: antiquewhite;
    border: 1px solid black;
    text-align: center;
    width: 125px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: aquamarine;
}